  /* color scheme via Huemint: https://huemint.com/website-3/#palette=fcf6f2-f1c9cc-f4cdb5-1f049f-f92765-d8e021 */

/* Ya basics */

body {
    font-family: 'Darker Grotesque', sans-serif;
    background-image: url("images/peach-noise-gradient.png");
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.9em;
}

h4 {
    color: #24e0ff;
    font-size: 1.8em;
    font-weight: 600;
    text-transform: uppercase;

}


p {
    font-size: 1.8em;
    font-weight: 500;
}

/* URL stylin' */
a {
    color: #d8e021;
    text-decoration-style: dashed;
    text-decoration-color: #24e0ff;
}

a:hover {
    color: #f92765;
    text-decoration-style: wavy;
    text-decoration-color: #24e0ff;
}

/* DIV stylin' */

.stardate {
    background-color: lightgray;
    text-align: center;
}

/* Custom cursor pointer */

.url {
    cursor: url(3D-pointer-pink.cur),auto;
    text-transform: uppercase;
    font-weight: 800;
}
